@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #fff;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-flex {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.form {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.header-right {
    display: flex;
    align-items: center;
}
.logo-d {
    color: #f16d7f;
}

.logo-img {
    margin-right: 13px;
}

.browse {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 0 8px 0 15px;
    color: #222;
    font-size: 14px;
    font-weight: 300;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    cursor: pointer;
}

.fa-caret-down {
    margin-left: 8px;
}

.text-search {
    box-sizing: border-box;
    width: 280px;
    height: 38px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    padding: 0 16px;
    border: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    outline: none;
}

.button-search {
    box-sizing: border-box;
    height: 38px;
    padding: 0 11px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    cursor: pointer;
}

.fa-search {
    color: #a4a4a4;
}

.basket-img {
    margin-right: 26px;
}

.button {
    background-color: #f16d7f;
    color: #fff;
    text-decoration: none;
    padding: 13px 12px 13px 19px;
    font-size: 15px;
    font-weight: 400;
}

.navigations {
    background-color: #fff;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-link {
    display: block;
    padding: 20px 15px;
    color: #222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: all .5s;
}

.menu-link:hover {
    border-bottom: 3px solid #f16d7f;
    transition: all .5s;
}

.banner {
    background-color: #e8e8e8;
    height: 613px;
}

.banner-img {
    background-image: url(../img/banner.jpg);
    height: 100%;
    background-position: 0 -51px;
}

.banner-text {
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 224px;
    float: left;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.big-banner-text,
.small-banner-text {
    margin: 0;
}

.big-banner-text {
    color: #222;
    font-size: 60px;
    line-height: 41px;
}

.small-banner-text {
    color: #222;
    font-size: 40px;
    line-height: 32px;
    margin-top: 20px;
}

.pink {
    color: #f16d7f;
}

.category {
    margin-top: 98px;
}

.flex-category {
    display: flex;
    justify-content: space-between;
}

.block-category {
    width: 560px;
}

.block-category-one {
    background-image: url(../img/back_for_man.jpg);
    margin-bottom: 20px;
}

.block-category-two {
    background-image: url(../img/accesories.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #dadad2;
}

.block-category-three {
    background-image: url(../img/back_for_woman.jpg);
    margin-bottom: 20px;
}

.block-category-four {
    background-image: url(../img/back_for_kids.jpg);
}

.block-category-one,
.block-category-four {
    height: 542px;
}

.block-category-two,
.block-category-three {
    height: 261px;
}